:root {
    --primary-color: #133C55;
    --secondary-color: #386FA4;
    --accent1-color: #59A5D8;
    --accent2-color: #84D2F6;
}

main {
    max-width: 1000px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Prata';
    color: var(--primary-color);
}

p {
    font-family: 'Open Sans', sans-serif;
    color: var(--secondary-color);
}

footer a {
    text-decoration: none;
}

.hero {
    position: relative;

}

h1 {
    color: white;
    position: absolute;
    top: 100px;
    left: 400px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.515);
    padding: 10px;
}

article {
    position: absolute;
    top: 200px;
    right: 50px;
    background-color: rgba(0, 0, 0, 0.749);
    border: 20px;
    padding: 10px;
}

article p {
    color: white;
}

article img {
    float: right;
    width: 100px;
    height: auto;
}