:root {
    --primary-color: #133C55;
    --secondary-color: #386FA4;
    --accent1-color: #59A5D8;
    --accent2-color: #84D2F6;
}

header {
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding: 0.5rem;
    margin-bottom: 25px;
}

header nav {
    display: flex;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    font-size: 1.2rem;
    background-color: var(--secondary-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Prata';
    color: var(--primary-color);
}

p {
    font-family: 'Open Sans', sans-serif;
    color: var(--secondary-color);
}

footer a {
    text-decoration: none;
}

footer {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding-left: 10px;
}

footer p {
    color: white;
}


footer nav img {
    height: 50px;
    padding: 20px;
}

.hero {
    position: relative;
}

.hero-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

.hero h1 {
    color: white;
    position: absolute;
    top: 100px;
    left: 0; 
    right: 0; 
    margin-inline: auto; 
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.515);
    padding: 10px;
}

.hero article {
    position: absolute;
    top: 200px;
    left: 0; 
    right: 0; 
    margin-inline: auto; 
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.749);
    border: 20px;
    padding: 10px;
}

.hero article p {
    color: white;
}

.hero article img {
    float: right;
    width: 100px;
    height: auto;
}

.history {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    background-color: var(--secondary-color);
}

.history p {
    color: white;
    padding-left: 20px;
}

.history h2 {
    color: white;
    text-align: center;
}

.adventure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adventure-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
}

.adventure-images img { 
    width: 200px;
    height: auto;
}

figcaption {
    text-align: center;
}